:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --dark-blue: hsl(234, 12%, 34%);
  --light-blue: hsl(0, 0%, 98%);
  --grayish-blue: hsl(229, 6%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: var(--grayish-blue);
  font-size: 0.9375em;
  font-weight: 400;
}

img {
  width: 60px;
  position: absolute;
  top: 60%;
  left: 70%;
}

h1,
h2 {
  font-weight: 600;
  color: var(--dark-blue);
}

span {
  font-weight: 200;
}

header {
  width: 100%;
  text-align: center;
  padding: 4rem 2.25rem 0;
}

h1 {
  margin-bottom: 0.625rem;
  font-size: 1.5em;
}

.container {
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
}

.box-wrapper {
  width: 100%;
  padding: 4rem 2.25rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "box-cyan" "box-red" "box-orange" "box-blue";
  row-gap: 3rem;
}

.box {
  width: 300px;
  height: 230px;
  padding: 1.2rem 1rem;
  border-radius: 5px;
  box-shadow: 1px 7px 8px 2px rgba(24, 75, 141, 0.178);
  position: relative;
}

.box-cyan {
  border-top: 3px solid var(--Cyan);
  grid-area: box-cyan;
}
.box-red {
  border-top: 3px solid var(--Red);
  grid-area: box-red;
}
.box-orange {
  border-top: 3px solid var(--Orange);
  grid-area: box-orange;
}
.box-blue {
  border-top: 3px solid var(--Blue);
  grid-area: box-blue;
}

@media screen and (min-width: 1440px) {
  header {
    width: 50%;
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    height: 100%;
    max-width: 1250px;
  }

  .box-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      " . box-red . "
      "box-cyan box-red box-blue"
      "box-cyan box-orange box-blue"
      ". box-orange .";
    column-gap: 3rem;
  }

  .box {
    width: 330px;
  }
}
